html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", Arial, sans-serif; }

/* Make toolbar title a bit bolder and darker */
mat-toolbar .fw-semibold { font-weight: 600; }
